.headerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.leftHeaderContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

.leftHeaderContainer .checkbox {
  margin-right: 10px;
}
.leftHeaderContainer .title {
  height: 1rem;
  width: 15%;
  margin-bottom: 0 !important;
}

.checkbox {
  width: 36px;
  height: 36px;
  border-radius: 25%;
  margin-top: 5px;
}

.skeleton {
  padding: 15px;
  max-width: 100% !important;
}

.skeleton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skeleton .line {
  height: 12px;
  margin-bottom: 6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.headerContainer .lineAnimation {
  margin-bottom: 6px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.w5 {
  width: 25% !important;
  height: 18px !important;
}


@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
