:root {
	--sidebar-width: 250px;
	--sidebar-compact-width: 80px;
}

body {
	padding-top: 80px;
	padding-bottom: 80px;
}

main.container.is-fluid {
	padding-top: 1rem;
}

.menu {
	font-size: 1em;
}

@media (min-width: 1024px) {
	.is-dashboard {
		padding-left: var(--sidebar-width);
	}

	.is-dashboard.is-compact {
		padding-left: var(--sidebar-compact-width);
	}

	.sidebar {
		left: 0;
	}

	/*
	styles to show anchor tooltip when hovered in big screens
	*/
    .sidebar a {
        position: relative;
    }

    .sidebar a::after {
		content: attr(title);
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 1rem;
		padding: 0 2rem;
		background-color: #000;
		border-radius: 0;
		color: #fff;
		white-space: nowrap;
		transition: all 300ms ease-in-out;
	}

	.is-compact .sidebar a:hover::after {
		opacity: 1;
		visibility: visible;
	}
}
